{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ auction.title }}</h1>
    <p>{{ auction.description }}</p>
    <p>{{ auction.price }}</p>

    <a class='button' href="{{ url('auction_index') }}">Powrót</a>
    <a class='button' href="{{ url('auction_edit', {'id':auction.id}) }}">Edytuj</a>

    {{ form_start(deleteForm) }}
        {{ form_widget(deleteForm.submit, {"attr": {"class":"btn-danger"}}) }}
        {{ form_rest(deleteForm) }}
    {{ form_end(deleteForm) }}
    {{ form_start(finishForm) }}
        {{ form_widget(finishForm.submit, {"attr": {"class":"btn-alert"}}) }}
        {{ form_rest(finishForm) }}
    {{ form_end(finishForm) }}
{% endblock %}